--
-- PostgreSQL database dump
--

-- Dumped from database version 13.3
-- Dumped by pg_dump version 13.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cabinet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cabinet (
    location_type_id integer NOT NULL,
    location_id integer NOT NULL,
    located character varying(25) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.cabinet OWNER TO postgres;

--
-- Name: cabinet_cabinet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cabinet_cabinet_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cabinet_cabinet_id_seq OWNER TO postgres;

--
-- Name: cabinet_cabinet_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cabinet_cabinet_id_seq OWNED BY public.cabinet.location_type_id;


--
-- Name: cabinet location_type_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cabinet ALTER COLUMN location_type_id SET DEFAULT nextval('public.cabinet_cabinet_id_seq'::regclass);


--
-- Name: cabinet cabinet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cabinet
    ADD CONSTRAINT cabinet_pkey PRIMARY KEY (location_type_id);


--
-- Name: cabinet cabinet_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cabinet
    ADD CONSTRAINT cabinet_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.transfer_location(location_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TABLE cabinet; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.cabinet TO as_asset_tracker;


--
-- PostgreSQL database dump complete
--

